name: b3n8-2m9q-7v1x

on:
  workflow_dispatch:

jobs:
  gui-runner:
    runs-on: ubuntu-latest
    env:
      USERNAME: runner
      PASSWORD: Arshath8
      NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

    steps:
      - name: Setup User & Sudo
        run: |
          echo "${USERNAME}:${PASSWORD}" | sudo chpasswd
          echo "${USERNAME} ALL=(ALL) NOPASSWD:ALL" | sudo tee /etc/sudoers.d/${USERNAME}

      - name: Install KDE + TurboVNC
        run: |
          sudo apt-get update -qq
          sudo DEBIAN_FRONTEND=noninteractive apt-get install -y -qq kde-plasma-desktop curl xorg dbus-x11

          # Install TurboVNC
          wget -q https://sourceforge.net/projects/turbovnc/files/3.0.3/turbovnc_3.0.3_amd64.deb
          sudo apt install -y ./turbovnc_3.0.3_amd64.deb

          # Create VNC directory & password
          sudo -u ${USERNAME} mkdir -p /home/${USERNAME}/.vnc
          echo "${PASSWORD}" | vncpasswd -f | sudo -u ${USERNAME} tee /home/${USERNAME}/.vnc/passwd > /dev/null
          sudo chmod 600 /home/${USERNAME}/.vnc/passwd

          # Clean KDE xstartup (NO XAUTHORITY, NO DISPLAY)
          cat <<EOF | sudo -u ${USERNAME} tee /home/${USERNAME}/.vnc/xstartup
#!/bin/bash
startplasma-x11 &
EOF

          sudo chmod +x /home/${USERNAME}/.vnc/xstartup

          # Start TurboVNC server
          sudo -u ${USERNAME} vncserver :1 -geometry 1280x720 -depth 24

      - name: Install Ngrok
        run: |
          curl -sSL https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-linux-amd64.tgz | sudo tar -xzv -C /usr/local/bin
          ngrok config add-authtoken ${NGROK_AUTH_TOKEN}

      - name: Start Ngrok Tunnel
        run: |
          nohup ngrok tcp 5901 --region=in > /dev/null 2>&1 &
          sleep 8

      - name: Keep Alive
        run: |
          while true; do
            echo "Running at $(date)"
            sleep 600
          done
